<h3></h3>
<div class="example-button-row">
    <button
            mat-flat-button color="primary"
            (click)="sendRequest()"
    >Отправить запрос</button>
</div>
<ng-container *ngIf="dataAll.length > 0">
    <div>
        <h1 class="display-6 container m-5">Данные: </h1>
        <table class="table table-striped container pt-10">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">userId</th>
                <th scope="col">completed</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let person of dataAll; index as i">
                <th scope="row">{{ person.id }}</th>
                <td>{{ person.title }}</td>
                <td>{{ person.userId }}</td>
                <td>{{ person.completed }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</ng-container>



