<router-outlet></router-outlet>

<section>
  <div class="example-label">Запросы</div>
  <div class="example-button-row">
    <button
            mat-raised-button
            (click)="sendGetRequest()"
    >GET</button>
  </div>
  <div class="example-button-row">
    <button
            mat-raised-button color="primary"
            (click)="sendGetRequestWithOptions()"
    >GET с параметром</button>
  </div>
  <div class="example-button-row">
    <button
            mat-raised-button color="accent"
            (click)="sendPostRequest()"
    >POST</button>
  </div>
  <div class="example-button-row">
    <button
            mat-raised-button color="warn"
            (click)="sendGetRequestWithErrors()"
    >GET с обработкой ошибок</button>
  </div>
  <div class="example-button-row">
    <button
            mat-raised-button color="primary"
            (click)="sendGetRequestWithHeaders()"
    >GET с заголовками</button>
  </div>
  <div class="example-button-row">
    <button
            mat-raised-button color="warn"
            (click)="sendDeleteRequest()"
    >DELETE</button>
  </div>

  <div class="example-button-row">
    <button
            mat-raised-button color="primary"
            routerLink="second"
    >Resolve Route</button>
  </div>
</section>

