<h4>Практическое задание8: Интеграция UI библиотек</h4>

<div>Уведомления:</div>
<div class="container d-flex p-3">
    <button (click)="notiflix_notify('warning')">Notify Warning</button>
    <button (click)="notiflix_notify('success')">Notify Success</button>
    <button (click)="notiflix_notify('failure')">Notify Error</button>
    <button (click)="notiflix_notify('info')">Notify Info</button>
</div>

<div>Подтверждение:</div>
<div class="container d-flex p-3">
    <button (click)="notiflix_confirm('Текст в окошке')">Подтвердите</button>
</div>

<div>Bootstrap accordion</div>
<accordion>
    <ng-container *ngFor="let accordionItem of accordionGroups">
        <accordion-group [heading]="accordionItem.header">
            {{ accordionItem.content }}
        </accordion-group>
    </ng-container>

</accordion>
